.section-mobile--hidden {
  @media screen and (max-width: ($tablet-width768 - 1px)) {
    display: none;
  }
}

.specifics {
  // display: flex;
  // flex-direction: column;
}

.specifics__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  letter-spacing: 0.03em;
}

.specifics__group {
  // display: flex;
  // gap: 30px;
}

.specifics__picture {
  position: relative;
  transition: box-shadow 250ms $transition-timing-function-all-hover-focus;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.specifics__text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  width: 100%;
  height: 70px;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: $color-background-section-box-one-li;
  color: $color-backgroud-header;
}
