.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: $color-text-button-hero;
  z-index: 999;

  transition: transform 250ms $transition-timing-function-all-hover-focus,
    opacity 250ms $transition-timing-function-all-hover-focus;

  opacity: 0;
  transform: translateX(100%);
  overflow-y: scroll;

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  @media screen and (min-width: $tablet-width768) {
    display: none;
  }

  @media screen and (max-width: ($tablet-width768 - 1px)) {
    &.is-open {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.menu-toggle {
  @include flex;

  min-height: 40px;
  min-width: 40px;

  margin: 0;
  padding: 0;

  background-color: transparent;

  cursor: pointer;

  border: none;
  border-radius: 50%;
  outline: none;

  transition: fill 250ms $transition-timing-function-all-hover-focus;

  & .menu-toggle__icon-menu:hover,
  & .menu-toggle__icon-menu:focus,
  & .menu-toggle__icon-close:hover,
  & .menu-toggle__icon-close:focus {
    fill: $color-accent;
  }
  @media screen and (min-width: $tablet-width768) {
    display: none;
  }
}

.mobile-menu {
  margin-bottom: auto;

  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;

  transition: color 250ms $transition-timing-function-all-hover-focus;

  & > li:hover,
  & > li:focus {
    color: $color-accent;
  }

  & li {
    margin-bottom: 32px;
  }

  @media screen and (max-width: ($mobile-width320 - 1px)) {
    font-size: 20px;
  }
}

.mobile-menu__contacts {
  margin-bottom: 64px;

  font-size: 34px;

  color: $color-accent;

  & li {
    margin-bottom: 32px;
  }

  & [href="mailto:info@devstudio.com"] {
    font-size: 24px;
    color: $color-text-secondary;
  }
}

.mobile-menu__socials {
  @include flex($justify-content: flex-start);
  flex-wrap: wrap;

  font-size: 18px;
  line-height: 1.22;

  color: $color-accent;

  & > li:not(:first-child) {
    padding-left: 10px;
  }

  & > li:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid $color-border-right-mobile-menu;
  }
}
