.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $color-bacground-backdrop;

  overflow-y: scroll;
}

.is-hidden {
  opacity: 1;

  visibility: hidden;

  pointer-events: none;
}

.backdrop__container {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 1;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 500ms $transition-timing-function-all-hover-focus,
    opacity 250ms $transition-timing-function-all-hover-focus;

  background-color: $color-backgroud-header;
  border-radius: 4px;

  .is-hidden:focus & {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  @media screen and (max-width: ($desktop-width1200 - 1px)) {
    max-width: 450px;
    width: 100%;
    max-height: 609px;
  }

  @media screen and (min-width: $desktop-width1200) {
    max-width: 528px;
    width: 528px;
    max-height: 581px;
  }
}

.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;

  cursor: pointer;
}

.backdrop__svg {
  height: 11px;
  width: 11px;

  transform: fill 250ms $transition-timing-function-all-hover-focus;

  .backdrop__button:hover &,
  .backdrop__button:focus & {
    fill: $color-accent;
  }
}
