.card-team {
  color: $color-backgroud-header;
  background-color: $color-section;

  @media screen and (max-width: ($tablet-width768 - 1px)) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet-width768) and (max-width: ($desktop-width1200 - 1px)) {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -15px -15px -15px;
  }

  @media screen and (min-width: $desktop-width1200) {
    display: flex;
    gap: 30px;
  }
}

.card-team__item {
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $color-backgroud-header;

  @media screen and (min-width: $tablet-width768) and (max-width: ($desktop-width1200 - 1px)) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

.card-team__picture {
  margin-bottom: 30px;
}

.card-team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $color-text-primary;
}

.card-team__text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $color-text-secondary;
}
