.clients__title {
  @media screen and (min-width: $tablet-width768) {
    font-size: 28px;
  }

  @media screen and (min-width: $desktop-width1200) {
    font-size: 36px;
  }
}

.clients__items {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.clients__items li {
  margin: 15px;

  @media screen and (max-width: ($tablet-width768 - 1px)) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $tablet-width768) and (max-width: ($desktop-width1200 - 1px)) {
    width: calc((100% - 4 * 15px) / 3);
    max-width: 226px;
  }

  @media screen and (min-width: $desktop-width1200) {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  @include flex;

  min-height: 92px;

  color: $color-social-link;
  border: 1px solid $color-social-link;
  border-radius: 10px;

  transition: border-color 250ms $transition-timing-function-all-hover-focus,
    fill 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
}

.clients__icon {
  fill: currentColor;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $color-accent;
  }
}
