.social-networks {
  @include flex;
  gap: 10px;

  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.social-networks__link {
  @include flex;
  width: 44px;
  height: 44px;

  color: $color-social-link;

  border-radius: 50%;

  transition: background-color 250ms $transition-timing-function-all-hover-focus,
    color 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-backgroud-header;
  }
}

.social-networks__icon {
  @include flex;
  width: 20px;
  height: 20px;

  fill: currentColor;
}
