.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks li {
  margin-bottom: 24px;
}

.social-networks__link {
  padding: 12px;

  color: $color-social-link;

  border-radius: 50%;

  transition: background-color 250ms $transition-timing-function-all-hover-focus,
    color 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-backgroud-header;
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
