.address {
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__text {
  color: $color-backgroud-header;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $color-text-secondary;

  transition: color 250ms $transition-timing-function-all-hover-focus,
    text-shadow 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    color: $color-accent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: $desktop-width1200) {
    font-weight: 500;
  }
}
