.form-join {
  display: flex;
  flex-direction: column;

  margin-right: 93px;
}

.form-join__text {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-backgroud-header;
}

.form-join__item {
  display: flex;
  gap: 10px;
}

.form-join__link {
  @include flex;

  width: 44px;
  height: 44px;
  color: $color-social-link;
  border-radius: 50%;
  background-color: $color-background-socials-footer;

  transform: background-color 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.form-join__icon {
  fill: currentColor;
  transform: fill 250ms $transition-timing-function-all-hover-focus;

  .form-join__link:hover &,
  .form-join__link:focus & {
    fill: $color-text-hero;
  }
}
