.form-mailing {
  @include flex;
  flex-direction: column;
}

.form-mailing__container {
  // display: flex;
  // flex-direction: column;
}

.form-mailing__title {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: $color-backgroud-header;
}

.form-mailing__input {
  margin-bottom: 20px;

  color: $color-backgroud-header;
  background-color: $color-backgroud-footer;

  border-color: $color-border-form-email;
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    border-color: $color-accent;
  }

  @media screen and (max-width: ($tablet-width768 - 1px)) {
    max-width: 450px;
    max-height: 50px;
    width: 100vw;

    padding: 16px 15px;
  }
}

.form-mailing__button {
  @include flex;
  padding: 10px 28px;

  //   min-width: 200px;
  //   height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: $color-backgroud-header;
  background-color: $color-accent;

  border: none;
  border-radius: 4px;

  transition: box-shadow 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    box-shadow: 0 4px $color-box-shadow-form-button;
  }
}

.form-mailing__icon {
  margin-left: 10px;

  fill: currentColor;
}
