.page-footer {
  padding: 60px 0;

  text-align: center;

  background-color: $color-backgroud-footer;
}

.logo__page-footer--margin-bottom {
  display: inline-block;

  margin-bottom: 20px;
}

.address__box {
  //   margin-right: 70px;
}
