.checkbox__label {
  @include flex;

  margin-bottom: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $color-text-secondary;
}

.checkbox__field {
  position: absolute;

  width: 16px;
  height: 15px;

  appearance: none;

  border-radius: 2px;
}

.checkbox__icon {
  fill: $color-backgroud-header;

  margin-right: 7px;

  border: 2px solid $color-text-primary;
  border-radius: 2px;

  transform: background-color 250ms $transition-timing-function-all-hover-focus,
    border-color 250ms $transition-timing-function-all-hover-focus;

  .checkbox__field:checked ~ & {
    border-color: transparent;
    background-color: $color-accent;
  }
}

.checkbox__link {
  color: $color-accent;

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.checkbox__button {
  max-width: 200px;
  max-height: 50px;

  padding: 10px 52px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 700;
  line-height: 1.8;

  color: $color-backgroud-header;
  background-color: $color-accent;
  border: none;
  border-radius: 4px;

  transform: box-shadow 250ms $transition-timing-function-all-hover-focus;

  &:hover,
  &:focus {
    @include buttons-hover-focus;
  }
}
