body {
  background-color: $color-backgroud-header;
  color: $color-text-primary;
  font-family: $font-dominant;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile-width480) {
    width: $mobile-width480;
  }

  @media screen and (min-width: $tablet-width768) {
    width: $tablet-width768;
  }

  @media screen and (min-width: $desktop-width1200) {
    width: $desktop-width1200;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-width1200) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

button {
  border: none;

  font-family: inherit;

  cursor: pointer;
}
