.page-header {
  border-bottom: 1px solid $color-border-bottom-header-title;

  @media screen and (max-width: ($tablet-width768 - 1px)) {
    position: relative;
    margin: 0 auto;
    max-width: 480px;
  }
}

.page-header__box {
  @media screen and (max-width: ($tablet-width768 - 1px)) {
    @include flex;
    justify-content: space-between;
    min-height: 60px;
  }

  @media screen and (min-width: $tablet-width768) {
    min-height: 80px;
  }
}
