.page-header {
  border-bottom: 1px solid $color-border-bottom-header-title;
}

.page-header__box {
  position: relative;
  @media screen and (max-width: ($tablet-width768 - 1px)) {
    @include flex;
    position: relative;
    justify-content: space-between;
    min-height: 60px;
  }

  @media screen and (min-width: $tablet-width768) {
    min-height: 80px;
  }
}
