$color-backgroud-page: #f5f5f5;
$color-backgroud-header: #ffffff;
$color-backgroud-footer: #2f303a;
$color-backgroud-hero: #2f303a;
$color-accent: #2196f3;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-text-hero: #ffffff;
$color-text-button-hero: #ffffff;
$color-logo: #000000;
$color-logo-footer: #ffffff;
$color-section: #f5f4fa;
$color-social-link: #afb1b8;
$color-border-bottom-header: #ececec;
$color-border-bottom-header-title: #ececec;
$color-border-portfolio-cards: #eeeeee;
$font-dominant: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
$color-background-socials-footer: rgba(255, 255, 255, 0.1);
$color-background-section-box-one-li: rgba(47, 48, 58, 0.8);
$color-background-portfolio-picture: rgba(33, 150, 243, 0.9);
$color-bacground-backdrop: rgba(0, 0, 0, 0.2);
$color-border-button-modal: rgba(0, 0, 0, 0.1);
$transition-timing-function-all-hover-focus: cubic-bezier(0.4, 0, 0.2, 1);
$color-box-shadow-form-button: rgba(0, 0, 0, 0.15);
$color-border-form-email: rgba(255, 255, 255, 0.3);
$color-form-modal-border: rgba(33, 33, 33, 0.2);
$color-form-modal-color-text: rgba(117, 117, 117, 0.5);
$color-box-shadow-svg: 0px 4px 4px rgba(0, 0, 0, 0.15);
$mobile-width320: 320px;
$mobile-width480: 480px;
$tablet-width768: 768px;
$desktop-width1200: 1200px;
$color-border-right-mobile-menu: rgba(33, 33, 33, 0.2);
