.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__card {
  margin: 15px;

  border-radius: 4px;

  transition: box-shadow 250ms var(--transition-timing-function-all-hover-focus);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: $tablet-width768) {
    width: calc((100% - 2 * 15px) / 1);
  }

  @media screen and (min-width: $tablet-width768) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $desktop-width1200) {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.card__container {
  position: relative;

  overflow: hidden;
}

.card__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(101%);

  transition: transform 250ms $transition-timing-function-all-hover-focus;

  color: $color-backgroud-header;
  background-color: $color-background-portfolio-picture;

  .portfolio__card:hover &,
  .portfolio__card:focus & {
    transform: translateY(0);
  }

  @media screen and (min-width: $tablet-width768) {
    padding: 49px 24px 77px 24px;
  }

  @media screen and (min-width: $desktop-width1200) {
    padding: 63px 24px;
  }
}

.card__box {
  padding: 20px 24px;

  border-left: 1px solid $color-border-portfolio-cards;
  border-right: 1px solid $color-border-portfolio-cards;
  border-bottom: 1px solid $color-border-portfolio-cards;
}

.box__title {
  padding-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.box__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
