.portfolio {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
}

.portfolio__card {
  // display: block;
  // width: 370px;

  border-radius: 4px;

  transition: box-shadow 250ms var(--transition-timing-function-all-hover-focus);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  }
}

.card__container {
  // position: relative;

  overflow: hidden;
}

.card__text {
  // position: absolute;
  // top: 0;
  // left: 0;
  // padding: 63px 24px;

  // width: 100%;
  // height: 100%;

  font-size: 18px;
  line-height: 1.33;

  transform: translateY(101%);

  transition: transform 250ms $transition-timing-function-all-hover-focus;

  color: $color-backgroud-header;
  background-color: $color-background-portfolio-picture;

  .portfolio__card:hover &,
  .portfolio__card:focus & {
    transform: translateY(0);
  }
}

.card__box {
  padding: 20px 24px;

  border-left: 1px solid $color-border-portfolio-cards;
  border-right: 1px solid $color-border-portfolio-cards;
  border-bottom: 1px solid $color-border-portfolio-cards;
}

.box__title {
  padding-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.box__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
